.car-details-page {
  padding: 0px 16px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 28px;
}

.content-container {
  display: flex;
  gap: 32px;
}

.left-section {
  width: 492px;
  height: 508px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-box {
  flex: 1;
  border-radius: 10px;
  background: var(--Primary-500, #3563e9);
  background-image: url("../../../public/assets/images/Group\ 427320628.png"); /* FIXED PATH */
  padding: 16px;
  text-align: center;
  position: relative;
}

.main-title {
  color: var(--Primary-0, #fff);

  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.96px;
}

.main-description {
  color: var(--Primary-0, #fff);

  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.32px;
}

.main-image {
  width: 380px;
  height: 120px;
  flex-shrink: 0;
}

.small-box-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.firstbox {
  width: 148px;
  height: 124px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid var(--Primary-500, #3563e9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box {
  width: 148px;
  height: 124px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-box.first {
  width: 132px;
  height: 108px;
  flex-shrink: 0;
  background: var(--Primary-500, #3563e9);
  background-image: url("../../../public/assets/images/bg.png"); /* FIXED PATH */
}

.small-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.small-box img.first {
  width: 116px;
  height: 36px;
  flex-shrink: 0;
}

.right-section {
  position: relative;
  width: 492px;
  height: 508px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.heart-button-details {
  height: 24px;
  width: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.car-name {
  position: absolute;
  top: 24px;
  left: 24px;
  color: var(--Secondary-500, #1a202c);
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.96px;
  margin: 0;
}

.rating {
  position: absolute;
  top: 72px;
  left: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  color: #fbad39;
}

.reviews {
  color: var(--Secondary-400, #596780);
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.car-description {
  position: absolute;
  top: 128px;
  left: 24px;
  right: 24px;
  color: var(--Secondary-400, #596780);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: -0.4px;
  margin: 0;
}

.specs {
  position: absolute;
  top: 280px;
  left: 24px;
  right: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  color: var(--Secondary-500, #1a202c);
}

.spec-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 500;
  color: #90a3bf;
  line-height: 21px;
  letter-spacing: -0.28px;
}

.spec-item span {
  color: var(--Secondary-300, #90a3bf);
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.4px;
}

.spec-item p {
  color: var(--Secondary-400, #596780);
  text-align: right;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.4px;
  margin: 0;
}

.price-sectiondet {
  position: absolute;
  bottom: 44px;
  left: 24px;
  font-family: "Plus Jakarta Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--Secondary-500, #1a202c);
}

.rent-button {
  position: absolute;
  bottom: 32px;
  right: 24px;
  display: flex;
  width: 140px;
  height: 56px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 4px;
  border: none;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
  background: var(--Primary-500, #3563e9);
}
