/* EX-3-MAIN/src/components/homePage/homePage.css*/
.app-container {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f9;
  min-height: 100vh;
  overflow: hidden;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 100px; /* Make space for footer */
}
