@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");

.filters-container {
  font-family: "Plus Jakarta Sans", sans-serif;
  position: fixed;
  top: 110px;
  left: 0;
  width: 300px;
  height: calc(100vh - 150px);
  background-color: white;
  overflow-y: auto;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.filters-container::-webkit-scrollbar {
  display: none;
}

/* כללי לכל מקטע פילטר */
.filter-section {
  margin-bottom: 25px;
}

.filter-section h6 {
  margin-bottom: 15px;
  color: #90a3bf;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

/* סגנון הצ'קבוקסים */
.filter-section .MuiFormControlLabel-root {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #596780;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter-section .MuiCheckbox-root {
  color: #3563e9;
}

.filter-section .MuiCheckbox-root.Mui-checked {
  color: #1a56db;
}

/* סגנון לסקאלת המחיר */
.price-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-filter .MuiSlider-root {
  color: #3563e9;
  width: 100%;
}

.price-filter span {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

/* התאמות לרספונסיביות */
@media screen and (max-width: 768px) {
  .filters-container {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .filter-section {
    margin-bottom: 20px;
  }

  .price-filter {
    align-items: center;
  }
}

/* עיצוב הרקע של הסרגל */
.price-filter .MuiSlider-track {
  background-color: #3563e9 !important;
}

/* עיצוב הידית של הסליידר */
.price-filter .MuiSlider-thumb {
  background-color: #3563e9 !important;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.price-filter .MuiSlider-thumb:hover {
  background-color: #254ab7 !important; /* גוון כהה יותר במעבר עכבר */
}
