/* EX-3-MAIN/src/components/Header/Header.css*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 124px;
  border-bottom: 1px solid #c3d4e966;
}

.logo-container {
  margin-left: 40px;
  margin-right: 126px;
}

.search-bar {
  flex-grow: 1;
  max-width: 492px;
}

.favorite-header.liked,
.favorite-header.unliked {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 50%;
  position: absolute;
  right: 30px;
}

.favorite-header.liked {
  color: red;
}

.favorite-header:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  header {
    height: 80px;
    padding: 10px 15px;
  }

  .logo-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .search-bar {
    margin-left: 20px;
    max-width: 250px;
  }

  .favorite-header.liked,
  .favorite-header.unliked {
    margin: 15px;
  }
}

@media (max-width: 480px) {
  .search-bar {
    max-width: 200px;
  }
}
